{flags.gallery}

<div id="blotter" class="flag-page-blotter">
  <p1>To rizz your posts, write flag names into the field below, separated by a comma. "country" is a special case that displays your country. If the field is empty, you'll have a US flag.</p1><br /><br />
</div>

{flags.controls}
<br />
<p1><i>New feature:</i> You can click the flags.</p1>
{flags.return_link}
