<.board_banner show={@primary_board && @primary_board.uri == "bant"} />

<.page_shell
  page={@page}
  subtitle={@page_subtitle}
  global_message_html={@global_message_html}
  current_moderator={@current_moderator}
  board_chrome={@board_chrome}
  show_global_message={@show_global_message}
>
  <div class="ban flag-page-shell">
    <div
      id="content"
      style="text-align:center;margin-top:2em;margin-bottom:2em;"
      data-flag-page
      data-flag-storage-key={@flag_storage_key}
    >
      <%= raw(@flag_body_html) %>
    </div>
  </div>
</.page_shell>
