<div id="exampleBox" class="flag-page-controls">
  <div class="postblock">Flags</div>
  <input
    name="user_flag"
    type="text"
    maxlength="300"
    placeholder="country,tenshi,orin3,yuyuko"
    autocomplete="off"
    id="user_flag"
  />
  <div id="buttons">
    <button type="button" id="applyButton">Apply</button>
    <button type="button" id="clearButton">Clear</button>
  </div>
</div>
