<nav class="landing-sidebar-nav">
  <fieldset>
    <legend><%= @landing_settings["title"] %></legend>

    <ul>
      <li><a href={@news_path} target="landing-main">[Home and News]</a></li>
    </ul>
  </fieldset>

  <fieldset :for={{group_title, links} <- @landing_groups}>
    <legend><%= group_title %></legend>

    <ul>
      <li :for={link <- links}>
        <a href={link.href} target={link.target} rel={link.rel} title={link.title}>
          <%= link.label %>
        </a>
      </li>
    </ul>
  </fieldset>
</nav>
