<header style="text-align:center;">
  <img class="site_logo" src="/images/logo.svg" alt="Eirinchan" />
</header>

<div class="box-wrap">
  <%= raw(@sanitized_home_body) %>
  <.recent_panels recent_images={@recent_images} recent_posts={@recent_posts} stats={@stats} />
</div>
<hr /> <EirinchanWeb.PostComponents.site_footer />
