<header style="text-align:center;">
  <img class="site_logo" src="/site_logo.png" />
</header>

<div class="box-wrap">
  <%= raw(@sanitized_home_body_before_boards) %>
  <.public_boards_box boards={@public_boards} />
  <%= raw(@sanitized_home_body_after_boards) %>
  <.recent_panels
    recent_images={@recent_images}
    recent_posts={@recent_posts}
    stats={@stats}
    use_board_subtitle={@use_board_subtitle}
  />
</div>
<hr /> <EirinchanWeb.PostComponents.site_footer />
